<div class="jumbotron">
  <div class="container text-center">
    <h1>Caseload</h1>
    <br>
    <%= link_to 'Create Observation for New Patient', observations_new_path, class: 'btn btn-primary'%>
  </div>
</div>


<!-- Apply search to check database for existing patient -->
<!-- If patient does not exist, link to create new patient -->



<hr>

 <!-- Caseload Grid Section -->
<div class="container">
  <section id="caseload">
    <div class="row">
    <% current_user.patients.distinct.each do |p| %>
        <div class="col-xs-3 text-center caseload-item">
        <!-- <div class="caption"> -->
          <!-- <div class="caption-content"> -->
         <!--  </div>
        </div> -->
        <div class="image-cropper" id="index-pic">
          <%= link_to (image_tag(p.image.url)), patient_path(p) %>
        </div>
          <%= p.first_name %>
          <%= p.last_name %>
          <br>
        </div>
  <% end %>
    </div>
  </section>
</div>

